.swal2-timer-progress-bar{
    background-color: rgb(8, 179, 8) !important;
}

.icon-color{
    border-color: rgb(8, 179, 8)  !important;
}

.swal2-success-line-long{
    background-color: rgb(8, 179, 8)  !important;
}

.swal2-success-line-tip{
    background-color: rgb(8, 179, 8)  !important;
}

.divContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 73.9vh;
}